<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>NewU</title>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>

  <div id="main">
    <h1>NewU</h1>

    <h1><%= data.personality%> <%= data.archetype%></h1>
    <p><strong>Body Language: </strong><%= data.bodyLang %></p>
    <p><strong>First Liner: </strong><%= data.firstLiner %></p>
    <p><strong>Music: </strong><%= data.music %></p>
    <p><strong>Movies: </strong><%= data.movies %></p>
    <p><strong>Politics: </strong><%= data.politics %></p>
    <p><strong>Hobbies: </strong><%= data.hobbies %></p>
    <p><strong>Anecdote: </strong><%= data.anecdote %></p>
    <p><strong>Clothes: </strong><%= data.clothes %></p>
    <p><strong>Catchphrase: </strong><%= data.catchphrase %></p>
    <p><strong>Discussion: </strong><%= data.discussion %></p>
    <p><strong>Nickname: </strong><%= data.nickname %></p>




  </div>

</body>
</html>
