<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>NewU</title>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet">

    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NewU</a>
        </div>
        <!--
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>--><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-sm-12">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
                        <h4>Congratulations, you are now a:</h4>
          <div class="jumbotron">
            <div class="row">
              <div class = "col-9 col-lg-9">
                <h1><%= data.personality%> <%= data.archetype%></h1>
                <p><strong>Nickname: </strong><%= data.nickname %></p>
                <p><strong>Catchphrase: </strong><%= data.catchphrase %></p>
                <p><strong>Opening Line: </strong><%= data.firstLiner %></p>
              </div>
              <div class = "col-3 col-lg-3">
                <img src="/images/<%= data.image%>" style="border-radius: 150px;width: 250px; height: 250px"></img>
              </div>
            </div>
            <div class="row">
              <div class = "col-4 col-lg-4">
                <button class="btn btn-default">This sucks more than the current me.</button>
              </div>
              <div class = "col-4 col-lg-4">
                <form method="post" action="/">
                    <input type="text" name="user[phone]" placeholder="Enter Phone #">
                    <input type="hidden" name="user[traits]" value="<%= JSON.stringify(data) %>">
                    <button type="submit" class="btn btn-default">I'm Ready</button>
                </form>
              </div>
            </div>
          </div>

          <div class="row" id="traits">
            <div class="col-6 col-xs-12 col-sm-6 col-lg-4">
              <h2>Discussion Starter</h2>
              <p><%= data.discussion %></p>
            </div><!--/span-->
            <div class="col-6 col-xs-12 col-sm-6 col-lg-4">
              <h2>Key Accessory</h2>
              <p><%= data.clothes %></p>
            </div><!--/span-->
            <div class="col-6 col-xs-12 col-sm-6 col-lg-4">
              <h2>More About You</h2>
              <p><%= data.music %></p>
            </div><!--/span-->
            <div class="col-6 col-xs-12 col-sm-6 col-lg-4">
              <h2>Movies/TV</h2>
              <p><%= data.movies.list %></br></br><%= data.movies.action%></p>
            </div><!--/span-->
            <div class="col-6 col-xs-12 col-sm-6 col-lg-4">
              <h2>Politics</h2>
              <p><%= data.politics %></p>
            </div><!--/span-->
            <div class="col-6 col-xs-12 col-sm-6 col-lg-4">
              <h2>Hobbies</h2>
              <p><%= data.hobbies %></p>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row" id="traits">
              <div class="col-6 col-xs-12 col-sm-6 col-lg-6">
                <h2>Body Language</h2>
                <p><%= data.bodyLang %></p>
              </div><!--/span-->
              <div class="col-6 col-xs-12 col-sm-6 col-lg-6">
                <h2>Anecdote</h2>
                <p><%= data.anecdote %></p>
              </div><!--/span-->
          </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>Made with love @ Comedy Hack Day NYC by <a href="http://twitter.com/sayangel">@sayangel</a>, <a href="http://twitter.com/bobvulfov">@bobvulfov</a>, <a href="http://twitter.com/kmsimon">@kmsimon</a></p>
      </footer>

    </div><!--/.container-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

</body>
</html>
